.header {
    background-color: #3E3D3D;
    display: flex;
    padding-left: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.listaUlHeader {
    display: flex;
    gap: 40px;
    padding-top: 1.5rem;
}

.listaHeader {
    list-style-type: none;
}

.linkLista {
    color: #fff;
    text-decoration: none;
}