@import url("../fonts//KulinPark.css");

.destques {
    background-color: #c0c0c0;
    height: 400px;
}

.tituloDestaque {
    font-size: 40px;
    text-align: center;
    font-family: "Kulim Park";
}