@import url("../fonts//KulinPark.css");

.destques {
    background-color: #c0c0c0;
    height: 1500px;
}

.tituloDestaque {
    font-size: 50px;
    text-align: center;
    font-family: "Kulim Park";
}

.spanDestaque {
    color: #6C3348;
}

.flexbox {
    padding-top: 5rem;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
    justify-content: center;
    /* centraliza sem espalhar */
    gap: 200px;
    /* controla a distância entre elas */
}



.flexbox img {
    width: 400px;
    padding: 20px;

}

.flexbox div {
    background-color: #303030;
    width: 450px;
    border-radius: 10px;
}


.flexbox .div1 {

    border-radius: 10px;
}

.NomeVinho {
    background-color: #6C3348;
    color: #fff;
    margin: 20px;
    padding: 20px;
}