@import url("../fonts//KulinPark.css");

.destques {
    background-color: #c0c0c0;
    height: 400px;
}

.tituloDestaque {
    font-size: 50px;
    text-align: center;
    font-family: "Kulim Park";
}

span {
    color: #6C3348;
}

.flexbox {
    padding-top: 5rem;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
    justify-content: space-between;
    padding: 130px;
}



.flexbox img {
    width: 300px;

}

.flexbox div {
    background-color: #303030;
    width: 400px;
    margin: 15px;
}