@import url("../fonts//LibreBaskerville.css");
@import url("../fonts//Julius.css");


.naturalAroma {
    background-color: #c0c0c0;
    height: 1500px;
}

.subtitulo {
    color: #AF6900;
    font-family: 'Libre Baskerville';
    text-align: center;
    font-size: 30px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.titulo {
    color: #482817;
    text-align: center;
    font-size: 50px;
    font-family: Julius Sans One;
}

.flexboxGeral {
    padding-top: 4rem;
}

.flexboxNaturalAroma {
    display: flex;
    padding-left: 28rem;
    gap: 20px;
    padding-bottom: 3rem;

}

.imgItemNaturalAroma {
    width: 500px;
}

.imgSeloMovimentacao{
  padding-left: 117rem;
transform: translate(0px, -170px);
}