@import url("../fonts//LibreBaskerville.css");
@import url("../fonts//Julius.css");


.naturalAroma {
    background-color: #c0c0c0;
    height: 800px;
}

.subtitulo {
    color: #AF6900;
    font-family: 'Libre Baskerville';
    text-align: center;
    font-size: 30px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.titulo {
    color: #482817;
    text-align: center;
    font-size: 50px;
    font-family: Julius Sans One;
}

.flexboxGeral {
    padding-top: 1rem;
}

.flexboxNaturalAroma {
    display: flex;
    padding-left: 10rem;
    gap: 20px;

}