@import url("../fonts//LibreBaskerville.css");
@import url("../fonts//Julius.css");


.naturalAroma {
    background-color: #c0c0c0;
    height: 1600px;
}

.subtitulo {
    color: #AF6900;
    font-family: 'Libre Baskerville';
    text-align: center;
    font-size: 30px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.titulo {
    color: #482817;
    text-align: center;
    font-size: 50px;
    font-family: Julius Sans One;
}

.flexboxGeral {
    padding-top: 4rem;
}

.flexboxNaturalAroma {
    display: flex;
    padding-left: 28rem;
    gap: 20px;
    padding-bottom: 3rem;

}

.imgItemNaturalAroma {
    width: 500px;
}

.imgSeloMovimentacao {
    padding-left: 117rem;
    transform: translate(0px, -170px);
}

.naturaSelo {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 4rem;
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 40px;
    transform: translate(0, -250px);
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.selos {
    width: 150px;
}

.item h5 {
    font-family: 'Julius Sans One';
    color: #482817;
    margin: 0;
}

.item p {
    font-size: 12px;
    color: #AF6900;
    margin: 0;
}