@import url("../fonts//Montserrat.css");

.nossaHistoria {
    display: flex;
}

.tituloNossaHistoria {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #482817;
}

.imgNossaHistoriaDemostracao {
    padding-left: 2rem;
    width: 900px;
}