@import url("../fonts//Julius.css");

.quemSomos {
    padding-top: 3rem;
    padding-left: 3rem;
    background-color: #c0c0c0;
    height: 800px;
    display: flex;
}

.movimentacacaoConteudoGeral {
    display: flex;
}

.tituloPrincipal {
    color: #6C3348;
    font-family: Julius Sans One;
    font-size: 100px;
}