@import url("../fonts/KulinPark.css");

/* reset básico */


/* container principal */
.sucursale {
    padding-bottom: 3rem;
}

/* título */
.tituloSucursale {
    text-align: center;
    font-size: 50px;
    font-family: "Kulim Park";
    padding-top: 1.5rem;
}

.spanSucursale {
    color: #6C3348;
}

/* container das imagens */
.viniculas {
    display: flex;
    justify-content: center;
    gap: 500px;
    flex-wrap: wrap;
    padding: 2rem;
    padding-right: 10rem;
}

/* card */
.viniculass {
    max-width: 300px;
    width: 100%;
}

/* imagens */
.imgViniculas {
    width: 500px;
    height: auto;
    display: block;
    border-radius: 10px;

    /* 🔥 PRETO E BRANCO */
    filter: grayscale(100%);
    transition: 0.3s;
}