@import url("../fonts//KulinPark.css");

.sucursale {
    background-color: #c0c0c0;
    height: 900px;
}

.tituloSucursale {
    text-align: center;
    font-size: 50px;
    font-family: "Kulim Park";
    padding-top: 1.5rem;
}

.spanSucursale {
    color: #6C3348;
    font-family: "Kulim Park";
}

.viniculas {
    display: flex;
}