@import url(../fonts//LibreBaskerville.css);


.viniculas {
    padding-top: 10rem;
}

.subTituloVinicula {
    color: #AF6900;
    font-family: "Libre Baskerville";
    text-align: center;
    font-size: 40px;
}