@import url("../fonts//LibreBaskerville.css");
@import url("../fonts//Montserrat.css");


.viniculas {
    padding-top: 8rem;
    background-color: #c0c0c0;
    height: 1000px;
}

.subTituloVinicula {
    color: #AF6900;
    font-family: "Libre Baskerville";
    text-align: center;
    font-size: 35px;
}

.tituloVinicula {
    color: #482817;
    font-size: 100px;
    text-align: center;
    font-family: 'Montserrat;';
}

.eventos {
    display: flex;
    padding-left: 5rem;
}


.localidadeConteudo {
    background-color: red;
    width: 500px;
    padding-bottom: 1rem;
}